XSDForm/admin/uploads/5bddebca82928.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="rootElement" type="declaredTYpe"> </xs:element>


    <xs:complexType name="declaredTYpe">
        <xs:sequence>
            <xs:element name="child1" type="xs:date"/>
            <xs:element name="child2" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
